*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.result{
    display: flex;
    padding: 10px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
